.InfoCard {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
}
.infoHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
