.RightSide {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navIcon {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.navIcon>img {
    width: 1.5rem;
    height: 1.5rem;
}
.navIcon>svg {
    width: 1.5rem;
    height: 1.5rem;
}
.r-button{
    height: 3rem;
    width: 80%;
    align-self: center;
}